@import url('https://fonts.cdnfonts.com/css/pontiac');

body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue','Pontiac', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code' 'Courier New', monospace;
}
